.courts {
	width: 100%;
	padding: 15px 12px;
	box-sizing: border-box;
	display: flex;
	/*display: none;*/
	flex-direction: column;
}

.courts__courts {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.courts__title {
	margin: 0;
	font-size: 15px;
	line-height: 19px;
	color: #cc3d00;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

.courts__courts-list {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.courts__court-container {
	width: 100%;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}

.courts__item-date {
	width: 60px;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.courts__court-info-container {
	width: calc(100% - 190px);
	margin: 0 10px;
	display: flex;
	flex-direction: column;
}

.courts__court-competitor {
	margin: 0;
	font-size: 15px;
	line-height: 18px;
	color: #313e78;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.courts__court-category {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	color: #999999;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.courts__court-number {
	width: 110px;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	color: #8991a9;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.courts__more-button {
	width: 30px;
	margin-top: 5px;
	font-size: 15px;
	line-height: 18px;
	color: #8991a9;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	background-color: #ffffff;
	padding: 0;
	border: 0;
	outline: 0;
}

.courts__more-button:hover {
	cursor: pointer;
	color: #313e78;
}

.courts__executive {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.courts__executive-list {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.courts__executive-container {
	width: 100%;
	margin-bottom: 5px;
	display: flex;
}

.courts__executive-info-container {
	width: calc(100% - 70px);
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

.courts__executive-info {
	margin: 0 0 3px 0;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.courts__executive-info:last-of-type {
	margin-bottom: 0;
}
